async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
bleak-winrt==1.2.0 ; platform_system == "Windows" and python_version < "3.12" and python_version >= "3.10"
bleak==0.22.3 ; python_version >= "3.10" and python_version < "3.14"
dbus-fast==2.39.5 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Linux"
numpy==2.2.4 ; python_version >= "3.10" and python_version < "3.14"
pillow==11.1.0 ; python_version >= "3.10" and python_version < "3.14"
pyobjc-core==10.3.2 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Darwin"
pyobjc-framework-cocoa==10.3.2 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==10.3.2 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Darwin"
pyobjc-framework-libdispatch==10.3.2 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Darwin"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.12"
winrt-runtime==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-devices-bluetooth-advertisement==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-devices-bluetooth-genericattributeprofile==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-devices-bluetooth==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-devices-enumeration==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-foundation-collections==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-foundation==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
winrt-windows-storage-streams==2.3.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Windows"
